* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: bisque;
    font-family: 'Roboto',sans-serif;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1rem;
}

#show-container {
    border: 3px solid aquamarine;
    width: 350px;
    background-color: darksalmon;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}


/* da modificare */
#user-container {
    border: 3px solid aquamarine;
    width: 350px;
    background-color: darksalmon;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color:white;
}

#nums-found{
    color:red;
}

.hidden {
    display: none;
}

.show {
    display: block;
}